# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
!*.tfvars.example
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfplan
tfplan

# Secrets
.env
.env.*
*.pem
*.key

# Editors / OS
.idea/
.vscode/
.DS_Store